.selected {
    color: lightcoral;
    background-color: black;

}

ul {
    list-style-type: none;
    padding: 40px;
}

.title {
    background-color: lightcoral;
    color: white;
    padding: 10px;
    display: block;
    font-style: oblique;
    text-transform: uppercase;
}

.datets {
    font: italic;
    font-size: 70%;
}

li {
    font-style: italic;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    float: left;
    clear: left;
    border-radius: 4px;
    max-width: 1200px;
    width: 100%;
}

:host ::ng-deep  .pagination {
    padding: 20px 0 0 40px;
    clear: left;
}

:host ::ng-deep .pagination .page-link {
    background-color: white !important;
    color: #333 ! important;
    border-radius: 0 !important;
}

:host ::ng-deep .pagination .page-item.active .page-link {
    background-color: #333 !important;
    color: white ! important;
    border-color: #333 !important;
}

:host ::ng-deep .pagination .page-item .page-link:focus {
   
    box-shadow: none !important;
   
}

:host ::ng-deep .pagination .page-item .page-link:hover {

    background-color: lightcoral !important;
    border-color: lightcoral !important;

}

:host ::ng-deep .pagination .page-item.active .page-link:hover {

    background-color: #333 !important;
    border-color: #333 !important;
}


