.selected {
    color: lightcoral;
    background-color: white;

}

ul {
    list-style-type: none;
}

.title {
    background-color: lightcoral;
    color: white;
    padding: 10px;
    display: block;
    font-style: oblique;
}

.datets {
    font: italic;
    font-size: 70%;
}

li {
    font-style: italic;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 20px 0 0 20px;
    float: left;
    clear: left;
    border-radius: 4px;
}

:host ::ng-deep  .pagination {
    padding: 20px 0 0 40px;
    clear: left;
}

:host ::ng-deep .pagination .page-link {
    background-color: white !important;
    color: #333 ! important;
    border-radius: 0 !important;
}

:host ::ng-deep .pagination .page-item.active .page-link {
    background-color: #333 !important;
    color: white ! important;
    border-color: #333 !important;
}

